/* Блок хедер */
.header {
  background-color: var(--main-black-color);
  padding: 35px;
  color: #ebebeb;
}
/* Текст */
.header__header {
  margin: 0;
}

@media screen and (max-width: 1265px) {
  .header {
    padding: 15px;
  }
}
@media screen and (max-width: 682px) {
  .header__header {
    text-align: center;
  }
}