/* Блок хедер */
.header {
  display: flex;
  align-items: center;
  background-color: #0e1731;
  padding: 35px;
  color: #ebebeb;
}
/* Текст */
.header__header {
  margin: 0;
}

@media screen and (max-width: 1265px) {
  .header {
    padding: 15px;
  }
}