:root {
  --main-black-color: #0e1731;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}
.container {
  max-width: 1600px;
  background-color: #f7f8fc;
  margin: 0 auto;
}

@media screen and (max-width: 1265px) {
  .container {
    height: auto;
  }
}
