/* Список валют */
.card-month-rates {
  position: relative;
  list-style: none;
  padding: 0 10px;
}
/* Валюта */
.card-month-rates__item {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}