/* Процент изменения */
.secondary__percent {
  font-size: 14px;
}
.secondary__percent--green {
  color: #00bb75;
}
.secondary__percent--red {
  color: #e84166;
}
.secondary__percent-icon {
  margin-right: 5px;
}